# Normalize line endings to LF in the repository for text files.
* text=auto eol=lf

# Explicitly treat these as text with LF.
*.go    text eol=lf
*.md    text eol=lf
*.mod   text eol=lf
*.sum   text eol=lf
